.contenedor{
    margin-top: 1rem;
    /* border: 2px solid black; */
    width: 80rem;
    height: 50rem;
    display: flex;
    justify-content: center;
}
/* .grid{
    display: flex;
    
    justify-content: center;
    gap: 0.5em;
    
} */