@import '../../colors.module.css';

.grid{
    display: grid;
    /* background-color: brown; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    gap: 0.5em;
    justify-content: center;
    /* width: 100%; */
}
.contButtons{
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr;
    gap: 0.5em;
    
    /* border: 1px solid black; */
}
.cantidadPages {
    margin-top: 1.5rem;
    color: var(--color4);
    
}

.contButtons button{
    background-color: orange;
    margin: 1em;
}
.centeredCard {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }